body{
    background-color: #ffbf6b;
}
.burger-image{
    height: 200px;
}

.red{
    color: red;
}

.btn{
    border: 1px solid black;
}

.list-group-item{
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}